<!doctype html>
<html>
	<head>
		<link rel="import" href="../paper-theme.html">
		<link rel="import" href="../../paper-toolbar/paper-toolbar.html">
		<link rel="import" href="../../paper-input/paper-input.html">
		<link rel="import" href="../../paper-card/paper-card.html">
	</head>
	<body>

		<paper-theme primary-palette="red"></paper-theme>

		<paper-toolbar></paper-toolbar>

		<paper-card heading="test">
			<paper-input label="test"></paper-input>
		</paper-card>

		<style is="custom-style">
			paper-card{
			}
			body {
				background-color: var(--primary-color-light);
			}
		</style>

	</body>
</html>